@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap');

html {
    background-color: #0F074F;
    overflow: hidden;
    font-family: 'Baloo Da 2', cursive;



}

body {
    background-color: ;
    margin: 0;
}

button:focus {
    outline: 0;
}

.theme {
    margin: -3.5em 1em;

    float: right;
    border-radius: 50%;
    border: none;
    width: 2em;
    height: 2em;
    background-image: url(../img/day.svg);
    background-color: #F2BE5C;
    background-repeat: no-repeat;
    background-size: 2em;
    color: transparent;

}

.night {
    background-color: transparent;
    background-image: url(../img/night.svg);
    background-size: 2em;
}

.col {
    margin: -3.5em 4em;

    float: right;

    border: none;
    width: 3em;
    height: 2em;
    background-image: url(../img/three.svg);

    background-repeat: no-repeat;
    background-size: 3em;
    color: transparent;
}

.two {
    background-image: url(../img/two.svg);
}

h1 {
    margin: 0;
    background-color: white;
    color: #F2BE5C;
}

.day {
    background-color: #FFC5A5;
}

nav {
    float: left;
    width: 9.9em;
    height: 38em;
    margin: 3em 1em 1em 1em;

    background-color: #9fcae3;
    border-radius: 1em;
    margin-right: 2em;

}



h2 {
    margin: 1em;


}



p:nth-child(6) {
    margin: 0.5em 0.5em;

}



.showittoo {
    opacity: 1;
}

.recommended h2 {
    color: white;
}

h3 {
    color: white;
}


li {
    list-style: none;
    margin: 2em 0;
    padding: 0.4em;
}

li:hover {
    background-image: url(../img/hover.svg);
    background-repeat: no-repeat;
}

.weare:hover {
    background-image: url(../img/activated.svg);
}

.weare {
    background-image: url(../img/activated.svg);
    background-repeat: no-repeat;
    color: white;
}

.middle {
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 35em;
    margin: 2em 25em 0em;


}

article img {
    width: 8em;
    top: 1em;
    position: static;
    /* float: left;*/

}

.changeme {
    width: 30%;
    margin: 2em 30em;


}

.middle > article {

    padding: 0.1em;
    background-color: white;
    width: 8em;
    height: 11.9em;
    margin: 0.5em;
    overflow: hidden;
    position: relative;
}

article p {
    margin: 1em;

}

.middle button {
    margin: 0 0 -1em;
    width: 2.2em;
    height: 2.1em;
    position: absolute;
    float: right;
    border-radius: 50%;
    border: solid 1px;
    background-color: white;
    background-image: url(../img/informatie.svg);
    background-repeat: no-repeat;
    background-size: 2em;
    z-index: 8000;
}

.latest p {
    color: white;
    position: absolute;
    top: 18em;
    right: 44em;
}

.latest img {
    width: 16em;
    position: absolute;
    top: 20em;
    right: 40em;
    overflow: hidden;
    margin: auto;

    z-index: 600;
}



.middle .active {
    height: 30em;
    width: 15em;
    overflow: scroll;
}



.letsgo {
    display: block;
}


article:focus {
    background-color: aqua;
}

div {
    display: flex;

}

div button {
    background-color: #F2BE5C;
    border-radius: 2em;
    padding: 1em;
    margin: 0 0.5em;
    min-width: 6em;
    border: none;
    cursor: pointer;
}

div button:hover {
    background-color: #9fcae3;
    color: white;
}

button {
    cursor: pointer;
}

aside {

    position: absolute;
    width: 20em;
    height: 38em;
    margin: 1em;
    right: 0;
    top: 5em;
    background-color: #ffc7dc;
    border-radius: 2em;


}

.profile {

    width: 8em;
    height: 8em;

    margin: 1em 6em;

    border-radius: 50%;
}




.personal {
    justify-content: center;
    position: relative;
    margin: 1em 4em;
}

.personal button {
    background-color: #9fcae3;
    border-radius: 2em;
    padding: 1em;
    margin: auto;
    border: none;
    cursor: pointer;
}

.personal button:hover {
    background-color: white;
}

.bio {
    z-index: 200;
    width: 60%;
    height: 6em;
    border-radius: 2em;
    margin: auto;
    padding: 1em;
}
