@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap');

html {
    background-color: #F4F5F9;
    overflow: scroll;
    font-family: 'Baloo Da 2', cursive;



}

body {

    margin: 0;
}

button:focus {
    outline: 0;
}

.theme {
    margin: -3.5em 1em;
    top: 1.5em;
    position: sticky;
    z-index: 301;
    float: right;
    border-radius: 50%;
    border: none;
    width: 2em;
    height: 2em;
    background-image: url(../img/day.svg);
    background-color: #F2BE5C;
    background-repeat: no-repeat;
    background-size: 2em;
    color: transparent;

}

.night {
    background-color: transparent;
    background-image: url(../img/night.svg);
    background-size: 2em;

}

.col {
    position: sticky;
    margin: -3.5em 4em;
    top: 1.5em;
    float: right;
    left: 2em;
    border: none;
    width: 3em;
    height: 2em;
    background-image: url(../img/three.svg);
    background-repeat: no-repeat;
    background-size: 3em;
    color: transparent;
    z-index: 301;
}

.two {
    background-image: url(../img/two.svg);
}

h1 {
    margin: 0;
    background-color: white;
    padding: 0 0.5em;
    color: #F2BE5C;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;

}

.day {
    background-color: #733232;
}





nav {
    position: fixed;
    float: left;
    width: 9.9em;
    height: 38em;
    margin: 3em 1em 1em 1em;

    background-color: #FCB2AF;
    border-radius: 1em;

    margin-right: 2em;

}



h2 {
    margin: 1em;


}

p {
    margin: 0 1em;
}

p:nth-child(6) {
    margin: 0.5em 0.5em;

}

.welcome {
    margin-bottom: -0.5em;
}

.showittoo {
    opacity: 1;
}

.recommended h2 {
    color: #ADD9D9;
}

h3 {
    margin-left: 13em;
    color: #ADD9D9;
}


li {
    list-style: none;
    margin: 2em 0;
    padding: 0.4em;
}

li:hover {
    background-image: url(../img/hover.svg);
    background-repeat: no-repeat;
}



.weare {
    background-image: url(../img/hover.svg);
    background-repeat: no-repeat;
    color: #ADD9D9;
}

.middle {

    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 35em;
    margin: 2em 25em 0em;


}

article img {
    width: 8em;
    top: 1em;
    position: static;
    /* float: left;*/

}

.changeme {
    width: 30%;
    margin: 2em 30em;


}

.middle > article {

    padding: 0.1em;
    background-color: white;
    width: 8em;
    height: 11.9em;
    margin: 0.5em;
    overflow: hidden;
    position: relative;
}

article > p {
    margin: 1em 1.5em;

}

.middle button {
    margin: 0 0 -1em;
    width: 2.2em;
    height: 2.1em;
    position: absolute;
    float: right;
    border-radius: 50%;
    border: solid 1px;
    background-color: white;
    background-image: url(../img/informatie.svg);
    background-repeat: no-repeat;
    background-size: 2em;
    z-index: 8000;
}

.news {
    border-radius: 1.5em;

    background-color: #ADD9D9;
    height: 10em;
    width: 33em;
    margin: 3em 0 0.5em 15em;

    overflow: hidden;
    position: relative;
}

.latest p {
    color: #ADD9D9;
    position: absolute;
    top: 22em;
    right: 44em;
}

.latest img {
    width: 16em;
    position: absolute;
    top: 24em;
    right: 40em;
    overflow: hidden;
    margin: auto;
}



.middle .active {
    height: 30em;
    width: 15em;
    overflow: scroll;
}



.letsgo {
    display: block;
}



div {
    display: flex;

}

div button {

    background-color: #F2A74B;
    border-radius: 2em;
    padding: 1em;
    margin: 0 0.5em 0 22em;
    min-width: 6em;
    border: none;
    cursor: pointer;
}

div button:hover {
    background-color: #9fcae3;
    color: white;
}

button {
    cursor: pointer;

}

aside {

    position: fixed;
    width: 20em;
    height: 38em;
    margin: 1em;
    right: 0;
    top: 5em;
    background-color: #FFFFFF;
    border-radius: 2em;


}

.profile {

    width: 8em;
    height: 8em;

    margin: 1em 6em;

    border-radius: 50%;
}




.personal {
    justify-content: center;
    position: relative;
    margin: 1em 4em;
}

.personal button {
    background-color: #ADD9D9;
    border-radius: 2em;
    padding: 1em;
    margin: auto;
    border: none;
    cursor: pointer;
}

.personal button:hover {
    background-color: #FCB2AF;
}

.bio {
    z-index: 200;
    width: 60%;
    height: 6em;
    border-radius: 2em;
    margin: auto;
    padding: 1em;
}
