* {
    margin: 0;

}

html {
    overflow: hidden;
}

h1 {
    padding: 0.5em;
}

h2 {
    margin-left: 1em;
    font-size: 1em;
}

body {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: #F1DEDA;

}

/* left side */
main {

    height: 47em;
}

.popular {
    display: flex;
    background-color: #D5DBEC;
    border-radius: 0 2em 2em 0;
    max-width: 95%;

    justify-content: center;

}

.popular article {
    display: inline-flex;
    background-color: white;
    width: 10em;
    height: 10em;
    border-radius: 2em;
    margin: 1.5em 0.5em;
}

.timeline {
    margin-top: 1.5em;
    ;
    margin-bottom: 0;
    max-width: 95%;
    padding: 0;
    height: 40em;
}

.timeline h2 {
    margin-left: 1.5em;
}

.timeline article {

    background-color: white;
    min-width: 12.5em;
    min-height: 10em;
    border-radius: 2em;
}

.friends {
    display: grid;
    max-width: 82.1%;
    max-height: 50%;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 30% 40% 30%;
    margin-left: 7em;
    grid-column-gap: 1em;
    grid-row-gap: 1em;

}

.first {

    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.second {

    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.second article {

    background-color: aqua;
}

.third {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.forth {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.fifth {
    background-image: url(../img/p ot.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 4em;
    height: 15em;
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

/* right side */
aside {
    border-radius: 2em 0 0 2em;
    background-color: white;
    background-image: url(../img/iwas.svg);
    background-repeat: no-repeat;
    background-size: 35em;
    border: 2px solid white;
    width: 95%;
    margin-left: 2.5em;
    height: 97%;

}

.options {
    margin: auto 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    height: 4.25em;

}

li {
    list-style: none;
}

.options li:not(.notifs) {
    margin-top: 1.5em;
}

.closer {
    margin-right: 2em;
    background-color: #999A9F;
    border-radius: 0 1em 1em 0;
    padding: 0.1em 0.2em 0em;
    border: solid 1px white;
}

.evencloser {
    margin-right: 0em;
    margin-top: 1em;
    border-radius: 1em 0 0 1em;
    padding: 0.1em 0.2em 0em;
    background-color: #999A9F;
    border: solid 1px white;
}

.closest {
    margin-right: 3em;
}

svg .closest {
    width: 0.5em;
    border: solid 1px red;
}

.notifs {
    margin: auto 27em auto 1em;

}

/* svg notif */
.cls-1 {
    fill: #606060;
}

.cls-2 {
    fill: #ebd9c0;
}

svg:first-of-type {
    align-content: center;
    width: 1.5em;
    z-index: 100;
}

.profile {
    background-color: fuchsia;
    width: 12em;
    height: 12em;
    position: relative;
    margin-top: 0em;
    margin-left: 11em;
    border-radius: 50%;
}

button {
    background-color: #D5DBEC;
    border-radius: 2em;
    padding: 1em;
    margin: auto;
    border: none;


}

.personal {
    justify-content: center;
    position: relative;
    margin: 1em 11em;
}

.bio {

    width: 60%;
    height: 6em;
    border-radius: 2em;
    margin: auto;
    padding: 1em;
}

.music {
    display: flex;
    margin: 0.5em;
}

.music article {
    width: 11em;
    height: 11.6em;
    background-color: aliceblue;
    margin: 2em 0.5em;
    border-radius: 2em;

}

.badge {
    position: absolute;
    top: 1.2em;
    right: 30.5em;
    padding: 0.3em;
    border-radius: 50%;
    background-color: red;
    color: white;
    z-index: 101;
}

footer {
    margin: 0;
}

@media (prefers-color-scheme: dark) {

    body {
        background-color: #2B6461;
    }

    .popular {
        background-color: #5CB6B7;
    }

    aside {
        background-image: url(../img/iam.svg);
        background-color: #F0B3B5;
    }

    button {
        background-color: #94866B;
    }



}
